@{
    ViewData["Title"] = "Login and Registration Page";
}
<div class="dashboard-container">
    <div class="topbar">
        <h1 class="title-text">Welcome to the Thing, @ViewBag.CurrentUser.First_Name @ViewBag.CurrentUser.Last_Name</h1>
        <a asp-controller="New" asp-action="Logout"><button class="btn btn-default btn-xs logout-btn">Logout</button></a>
    </div>
    <hr>
    <h3 class="form-center-title">Messages</h3>
    <form action="/addNew" method="POST">
        <h5 class="form-titles">Message: </h5><input class="form-control" type="Text" name="Content">
        <br>
        <input class="btn btn-success login-btn btn-block btn-colored" type="submit" value="Add New Message"><br>
    </form>
    <table>
        <tr>
            <th>id</th>
            <th>Message</th>
            <th>Created At</th>
            <th>Since Created</th>
        </tr>
        @{
            foreach(var i in @ViewBag.allMessages)
            {
                <tr>
                    <td>@i.id</td>
                    <td>@i.Content</td>
                    <td>@i.created_at</td>
                    <td>@i.TimePast()</td>
                </tr>
            }
        }
    </table>
</div>
